$primary-color: #fff;


.form-control{
    margin-bottom: 1rem;
    padding: 1rem !important;
    font-size: 1.5rem;
    height: auto;
}

.result{
    border: 1px solid green !important ;
    background-color: rgba(0, 255, 21, 0.541) !important;
    color: #ff0000 !important;
    font-weight: bold !important;
}

body{
    padding-bottom: 20px;
}